@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

%text1 {
  font-family: "Outfit";
  font-weight: 400;
  line-height: 125%;
  font-size: 22px;
}

%text2 {
  font-family: "Outfit";
  font-size: 18px;
  line-height: 145%;
  font-weight: lighter;
}

%text3 {
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}

%text3-ref {
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 100;
  line-height: 125%;
}
%flexer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
